.body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.soft {
    width: 100px;
}

.card {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0px auto;
    text-align: center;
    color: #2b2839;
    background: #ddebf8;
    border-bottom: 6px solid #d8cefe;
}

.border-blue {
    border: 1px dotted blue;
}